.postContainer {
}
.timestamp {
}
.commentsContainer {
}
.commentContainer {
}
.icon {
  padding: 0;
  position: relative;
}
.icon img {
  width: 30px;
}
.icon div {
  color: black;
  top: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.addComment {
}
